.App {
  text-align: center;
}
.App-header {
 
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
 
}
main{
  background-color: #282c34;
  height: 200em;
}
.logo{
  margin-left: 20px;
  font-size: 40px;
}
.navright{
  display: flex;
  color: white;
  margin-right: 20px;
}
h2{
  color: white;
}

.commentHolder{
  color: #eee;
}
.links{
  margin: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #eee;
}
.navbar{
  background-color: #282c34;
display: flex;
align-items: center;
justify-content: space-between;
height: 200px;
width: 100%;
}


.car-card {
  padding: 1em;
  width: 450px;
  height: 250px;
  background-size:250px;
  border-radius: 0.5em;
  margin: 30px;
  
  justify-content: space-around;
 
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}
.listings {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
}
.imgs{
  width: 450px;
  height: 250px;
  margin: 20px;
}
input {
  background-color: transparent;
  margin-top: 20px;
  border: 3px solid rgb(0, 255, 255);
  border-radius: 8px;
  padding: 0.5em 0.2em;
  width: 500px;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: #eee;
}
button {
  margin: 20px 0 20px 20px;
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer{
  background-color: rgb(0, 255, 255);
}
.commentcard{
  margin: 0 20px 0 20px;
  border:1px solid lightblue
}
.commentHolder{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.author{
  display: inline;

}
.delete{
  background-color: transparent;
  color: #eee;
  font-size: 17px;
}
.commentform{
  margin: 20px;
  border:2px solid lightblue
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  color: #eee;
}
.carspec{
  color: #eee;
  display: flex;
  justify-content: space-evenly;
}

/* .inputcomments{
  
  
} */